Repository hyperledger-labs/fabric-smart-client, pull requests merged in 2022-10, with the labels that each got.

#403 FSC Improvements
  integration/fabric/atsa/chaincode/topology.go
  integration/fabric/atsa/chaincode/views/seller.go
  integration/fsc/pingpong/pingpong_test.go
  integration/fsc/pingpong/testdata/fsc/nodes/initiator/core.yaml
  integration/fsc/pingpong/testdata/fsc/nodes/responder/core.yaml
  integration/nwo/client/web.go
  integration/nwo/fabric/network/network_support.go
  integration/nwo/fabric/network/resolver.go
  integration/nwo/fabric/topology/core_template.go
  integration/nwo/fsc/fsc.go
  integration/nwo/fsc/node/core_template.go
  node/node/start.go
  platform/fabric/chaincode.go
  platform/fabric/channel.go
  platform/fabric/core/generic/chaincode/chaincode.go
  platform/fabric/core/generic/chaincode/discovery.go
  platform/fabric/core/generic/chaincode/invoke.go
  platform/fabric/core/generic/chaincode/support.go
  platform/fabric/core/generic/channel.go
  platform/fabric/core/generic/config/config.go
  platform/fabric/core/generic/endpoint/resolver.go
  platform/fabric/core/generic/finality/fabric.go
  platform/fabric/core/generic/msp/x509/identity.go
  platform/fabric/core/generic/msp/x509/loader.go
  platform/fabric/core/generic/network.go
  platform/fabric/core/generic/peer/common/conn.go
  platform/fabric/core/generic/transaction/transasction.go
  platform/fabric/driver/chaincode.go
  platform/fabric/driver/channel.go
  platform/fabric/driver/comm.go
  platform/fabric/driver/fns.go
  platform/fabric/services/chaincode/chaincode.go
  platform/fabric/services/chaincode/endorse.go
  platform/fabric/services/chaincode/invoke.go
  platform/fabric/services/chaincode/query.go
  platform/fabric/services/state/namespace.go
  platform/view/core/endpoint/resolver.go
  platform/view/sdk/sdk.go
  platform/view/services/client/web/client.go
  platform/view/services/client/web/conf.go
  platform/view/services/comm/comm.go
  platform/view/services/comm/endpoint.go
  platform/view/services/comm/p2p.go
  platform/view/services/server/web/dispatcher.go
  platform/view/services/server/web/server.go
  platform/view/services/server/web/view.go
Labels: enhancement, Fabric

#409 Various bug fix
  integration/fabric/iou/views/approver.go
  integration/fabric/iou/views/borrower.go
  integration/fabric/iou/views/utils.go
  integration/nwo/common/runner/runner.go
  integration/nwo/fabric/topology.go
  integration/nwo/nwo.go
  pkg/utils/compose/compose.go
  pkg/utils/compose/compose_test.go
  platform/fabric/core/generic/committer.go
  platform/orion/core/generic/committer/committer.go
  platform/orion/core/generic/network.go
Labels: bug

#416 fabric: call discard for unknown tx
  platform/fabric/core/generic/committer/endorsertx.go
Labels: bug

#417 Fix npe if no core file found
  pkg/node/node.go
Labels: bug

#414 Extensions
  platform/fabric/channel.go
  platform/fabric/core/generic/committer.go
  platform/fabric/core/generic/delivery/delivery.go
  platform/fabric/core/generic/vault/txidstore/simpletxidstore.go
  platform/fabric/core/generic/vault/txidstore/simpletxidstore_test.go
  platform/fabric/core/generic/vault/vault.go
  platform/fabric/core/generic/vault/vault_test.go
  platform/fabric/ledger.go
  platform/fabric/transaction.go
  platform/orion/core/generic/ledger.go
  platform/orion/core/generic/vault/simpletxidstore.go
  platform/orion/core/generic/vault/simpletxidstore_test.go
  platform/orion/core/generic/vault/vault.go
  platform/orion/driver/sm.go
  platform/orion/ledger.go
  platform/orion/session.go
  platform/orion/vault.go
Labels: enhancement, Fabric, orion

#415 restructure fsc and fabric driver core to be more intuitive
  integration/fsc/pingpong/pingpong_test.go
  integration/fsc/pingpong/testdata/fsc/nodes/initiator/core.yaml
  integration/fsc/pingpong/testdata/fsc/nodes/responder/core.yaml
  integration/fsc/pingpong/testdata/fsc/nodes/webclient/core.yaml
  integration/nwo/client/web.go
  integration/nwo/fabric/topology/core_template.go
  integration/nwo/fsc/fsc.go
  integration/nwo/fsc/node/core_template.go
  node/node/start.go
  platform/fabric/core/generic/channel.go
  platform/fabric/core/generic/config/config.go
  platform/fabric/core/generic/config/testdata/core.yaml
  platform/fabric/core/generic/ordering/ordering.go
  platform/view/core/endpoint/resolver.go
  platform/view/sdk/sdk.go
  platform/view/services/flogging/logging.go
  platform/view/services/flogging/logging_test.go
Labels: enhancement, configuration, Fabric

#422 Minor updates
  integration/fsc/pingpong/testdata/fsc/crypto-config.yaml
  integration/nwo/fabric/topology/crypto_template.go
  integration/nwo/fsc/node/crypto_template.go
  platform/fabric/core/generic/delivery/delivery.go
Labels: enhancement

#421 enhancement pack
  integration/nwo/fabric/network/network_support.go
  integration/nwo/fabric/platform.go
  integration/nwo/fabric/topology.go
  integration/nwo/fsc/topology.go
  integration/nwo/orion/platform.go
  integration/nwo/orion/topology.go
  pkg/node/node.go
  platform/fabric/core/generic/chaincode/chaincode.go
  platform/fabric/core/generic/chaincode/discovery.go
  platform/fabric/core/generic/chaincode/invoke.go
  platform/fabric/core/generic/channel.go
  platform/fabric/core/generic/committer.go
  platform/fabric/core/generic/delivery.go
  platform/fabric/core/generic/delivery/delivery.go
  platform/fabric/core/generic/network.go
  platform/fabric/core/provider.go
  platform/fabric/driver/delivery.go
  platform/fabric/sdk/sdk.go
  platform/orion/core/generic/committer/committer.go
  platform/orion/core/generic/delivery/delivery.go
  platform/orion/core/generic/network.go
  platform/orion/core/generic/vault.go
  platform/orion/core/provider.go
  platform/orion/driver/delivery.go
  platform/orion/driver/ons.go
  platform/orion/finality.go
  platform/orion/sdk/sdk.go
Labels: bug, enhancement, Fabric, orion
